.pt-form {
    border-radius: 4px!important;
    padding: 30px;
    font-family: "Yandex Sans Text Web", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
    width: 650px;
    background-color: white;
    margin: auto;
}